{% extends 'home.html' %}

{% block container %}
<div class="content">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {% if form.non_field_errors %}
                <strong>Oops!</strong> {{ form.non_field_errors|join:'<br/>' }}
            {% else %}
                <strong>Oops!</strong> Please correct the error(s) below
            {% endif %}
        </div>
    {% endif %}
    <div>
    <form action="." method="post" id='mainForm'>{% csrf_token %}
        <fieldset>
            <legend>Password change</legend>
            <div class="clearfix">
                <div class="input">
                    Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
                </div>
            </div>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="actions">
                <button id='submit' type="submit" class="btn btn-primary">Change my password</button>
            </div>
        </fieldset>
    </form>
    </div>
</div>
{% endblock %}