{% extends 'home.html' %}

{% block container %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>Please correct the error(s) below</p>
            </div>
        {% endif %}
        <form action="." method="post" id='mainForm'>{% csrf_token %}
            <fieldset>
                <legend>Password reset</legend>
                <div class="clearfix">
                    <div class="input">
                        Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
                    </div>
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="actions">
                    <button id='submit' class="btn btn-primary" type="submit" data-loading-text="loading..." accesskey="Enter">Reset my Password</button>
                </div>
            </fieldset>
    </div>
{% endblock %}